# Remove Mac file
.DS_Store

# Remove IDE files
.idea/
.vscode/
.texpadtmp/

# Exercise 1
src/exercise1/*
!src/exercise1/cam_74.pgm
!src/exercise1/example_opencv_1.cpp
!src/exercise1/Exercises_01a_1.pdf

# Exercise 2
src/exercise2/a/*
!src/exercise2/a/cam_74.pgm
!src/exercise2/a/cam_74_threshold100.pgm
!src/exercise2/a/Exercises_02ab_1.pdf
!src/exercise2/a/exercise_02a_thresh.cpp
!src/exercise2/a/Makefile

src/exercise2/b/*
!src/exercise2/b/Exercises_02ab_1.pdf
!src/exercise2/b/exercise_02b_compare.cpp
!src/exercise2/b/exercise_02b_compare.hpp
!src/exercise2/b/Makefile

src/exercise2/c/*
!src/exercise2/c/Exercises_02c_1.pdf
!src/exercise2/c/image1.pgm
!src/exercise2/c/image2.pgm
!src/exercise2/c/image1_inf_image2.pgm
!src/exercise2/c/image1_sup_image2.pgm
!src/exercise2/c/exercise_02c_sup.cpp
!src/exercise2/c/exercise_02c_inf.cpp
!src/exercise2/c/Makefile

src/exercise2/d/*
!src/exercise2/d/Exercises_02d_1.pdf

# Exercise 3
src/exercise3/a/*
!src/exercise3/a/exercise_03a_erosion.cpp
!src/exercise3/a/exercise_03a_erosion.hpp
!src/exercise3/a/Exercises_03ab_1.pdf
!src/exercise3/a/immed_gray_inv*

src/exercise3/b/*
!src/exercise3/b/exercise_03b_dilation.cpp
!src/exercise3/b/exercise_03b_dilation.hpp
!src/exercise3/b/Exercises_03ab_1.pdf
!src/exercise3/b/immed_gray_inv*

# Exercise 4
src/exercise4/a/*
!basic_exercises/exercise4/a/*.cpp
!basic_exercises/exercise4/a/*.hpp
!src/exercise4/a/Exercises_04ab_1.pdf
!src/exercise4/a/immed_gray_inv*

src/exercise4/b/*
!basic_exercises/exercise4/b/*.cpp
!basic_exercises/exercise4/b/*.hpp
!src/exercise4/b/Exercises_04ab_1.pdf
!src/exercise4/b/immed_gray_inv*

# Exercise 5
src/exercise5/a/*
!basic_exercises/exercise5/a/*.cpp
!basic_exercises/exercise5/a/*.hpp
!src/exercise5/a/Exercises_05ab_1.pdf
!src/exercise5/a/cam_74.pgm

# Exercise 5
src/exercise5/b/*
!basic_exercises/exercise5/b/*.cpp
!basic_exercises/exercise5/b/*.hpp
!src/exercise5/b/Exercises_05ab_1.pdf
!src/exercise5/b/cam_74.pgm

# Exercise 6
src/exercise6/a/*
!basic_exercises/exercise6/a/*.cpp
!basic_exercises/exercise6/a/*.hpp
!src/exercise6/a/Exercises_06ab_1.pdf
!src/exercise6/a/immed_gray_inv_20051123_clo2ope2.pgm
!src/exercise6/a/immed_gray_inv_20051123_clo4ope4.pgm
!src/exercise6/a/immed_gray_inv_20051123_ope2clo2.pgm
!src/exercise6/a/immed_gray_inv_20051123_ope4clo4.pgm

src/exercise6/b/*
!basic_exercises/exercise6/b/*.cpp
!basic_exercises/exercise6/b/*.hpp
!src/exercise6/b/Exercises_06ab_1.pdf
!src/exercise6/b/immed_gray_inv_20051123_clo2ope2.pgm
!src/exercise6/b/immed_gray_inv_20051123_clo4ope4.pgm
!src/exercise6/b/immed_gray_inv_20051123_ope2clo2.pgm
!src/exercise6/b/immed_gray_inv_20051123_ope4clo4.pgm

# Exercise 7
src/exercise7/a/*
!basic_exercises/exercise7/a/*.cpp
!basic_exercises/exercise7/a/*.hpp
!src/exercise7/a/Exercises_07ab_1.pdf
!src/exercise7/a/cam_74.pgm

src/exercise7/b/*
!basic_exercises/exercise7/b/*.cpp
!basic_exercises/exercise7/b/*.hpp
!src/exercise7/b/Exercises_07ab_1.pdf
!src/exercise7/b/cam_74.pgm

# Exercise 11
src/exercise11/*
!src/exercise11/Var
!basic_exercises/exercise11/*.cpp
!basic_exercises/exercise11/*.hpp
!basic_exercises/exercise11/*.pdf
!src/exercise11/gran01_64.pgm
!src/exercise11/gran01_64_flatzone0_0.pgm
!src/exercise11/immed_gray_inv_20051218_frgr4.pgm
!src/exercise11/immed_gray_inv_20051218_frgr4_flatzone57_36.pgm

# Add Makefiles
!Makefile
