# Remove Mac file
.DS_Store

# Remove IDE files
.idea/
.vscode/

# Exercise 1
basic_exercises/exercise1/*
!basic_exercises/exercise1/cam_74.pgm
!basic_exercises/exercise1/example_opencv_1.cpp
!basic_exercises/exercise1/Exercises_01a_1.pdf

# Exercise 2
basic_exercises/exercise2/a/*
!basic_exercises/exercise2/a/cam_74.pgm
!basic_exercises/exercise2/a/cam_74_threshold100.pgm
!basic_exercises/exercise2/a/Exercises_02ab_1.pdf
!basic_exercises/exercise2/a/exercise_02a_thresh.cpp
!basic_exercises/exercise2/a/Makefile

basic_exercises/exercise2/b/*
!basic_exercises/exercise2/b/Exercises_02ab_1.pdf
!basic_exercises/exercise2/b/exercise_02b_compare.cpp
!basic_exercises/exercise2/b/exercise_02b_compare.hpp
!basic_exercises/exercise2/b/Makefile

basic_exercises/exercise2/c/*
!basic_exercises/exercise2/c/Exercises_02c_1.pdf
!basic_exercises/exercise2/c/image1.pgm
!basic_exercises/exercise2/c/image2.pgm
!basic_exercises/exercise2/c/image1_inf_image2.pgm
!basic_exercises/exercise2/c/image1_sup_image2.pgm
!basic_exercises/exercise2/c/exercise_02c_sup.cpp
!basic_exercises/exercise2/c/exercise_02c_inf.cpp
!basic_exercises/exercise2/c/Makefile

basic_exercises/exercise2/d/*
!basic_exercises/exercise2/d/Exercises_02d_1.pdf

# Exercise 3
basic_exercises/exercise3/a/*
!basic_exercises/exercise3/a/exercise_03a_erosion.cpp
!basic_exercises/exercise3/a/exercise_03a_erosion.hpp
!basic_exercises/exercise3/a/Exercises_03ab_1.pdf
!basic_exercises/exercise3/a/immed_gray_inv*

basic_exercises/exercise3/b/*
!basic_exercises/exercise3/b/exercise_03b_dilation.cpp
!basic_exercises/exercise3/b/exercise_03b_dilation.hpp
!basic_exercises/exercise3/b/Exercises_03ab_1.pdf
!basic_exercises/exercise3/b/immed_gray_inv*

# Exercise 4
basic_exercises/exercise4/a/*
!basic_exercises/exercise4/a/*.cpp
!basic_exercises/exercise4/a/*.hpp
!basic_exercises/exercise4/a/Exercises_04ab_1.pdf
!basic_exercises/exercise4/a/immed_gray_inv*

basic_exercises/exercise4/b/*
!basic_exercises/exercise4/b/*.cpp
!basic_exercises/exercise4/b/*.hpp
!basic_exercises/exercise4/b/Exercises_04ab_1.pdf
!basic_exercises/exercise4/b/immed_gray_inv*

# Add Makefiles
!Makefile
